<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<link rel='stylesheet' href='/stylesheets/headerStyle.css'>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="/stylesheets/mobileStyle.css">-->
<!--<link rel="stylesheet" href="/stylesheets/homeStyle.css">-->
<link rel="stylesheet" href="/stylesheets/newStyle.css">
<link rel="stylesheet" href="/stylesheets/headerStyle.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">