
<!--<div class="header">-->
		<!--<div class="container">-->
			<!--<div class="headerTitle">-->
				<!--<h3><span class="share">Share </span>Space</h3>-->
			<!--</div>-->

			<!--<ul class="nav">-->
				<!--<li><a href="/profile">Profile</a></li>-->
				<!--<li><a href="/map"><i class="fa fa-file-text" aria-hidden="true"></i> Map</a></li>-->
				<!--<li><a href="/places">Places</a></li>-->
				<!--<li><a href="/postDetails">Add Place</a></li>-->

			<!--</ul>-->

			<!--<ul class="log_nav">-->
				<!--<li><a href="/logout"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>Logout</a></li>-->
			<!--</ul>-->
		<!--</div>-->
	<!--</div>-->

<div class="topnav" id="myTopNav">  <!-- navogation bar-->
    <a href="/">Share Space</a>
    <a href="/profile">Profile</a>
    <a href="/map">Map</a>
    <a href="/places">Places</a>
    <a href="/postdetails">Add Place</a>
    <a class="left" href="/logout">Logout</a>
    <a href="javascript:void(0);" class="icon">&#9776;</a>
</div>