<!DOCTYPE html>
<html>
  <head>
   {{>head}}
  </head>
  <body>
     {{#if user}}
        {{>user_header}}
      {{else}}
        {{>default_header}}
      {{/if}}
    {{{body}}}
<!--loader element added to every single page-->
     <div style="display: block" id="hideAll">&nbsp;</div>
     <div id="loader" class="loader"></div>

     {{>footer}}

	  <script type="text/javascript" src="javascripts/script.js"></script>
      

  </body>
</html>
