
	<div class="image-container">
		<div class="container">
			<div class="image-text">
				<h1 class="main_text">Welcome to Share Space</h1>
				<div class="buttons">
					<a href="signUp">Sign up</a>
					<a href="login">Sign in</a>
				</div>
			</div>

		</div>

	</div>

    <section>
        <div class="container">
            <div class="information-container col-12">
                <!---->
                <div class="col-7">
                    <h1 class="col-12">Find a Place to Stay</h1>
                    <p>
                        This is the place for you all tp come and find a place to
                        you can find a place like you dreamed of. no need to go round and
                        search for places anymore you just have to search in this app
                    </p>
                </div>
                <div class="col-1-of col-4 info-image">

                </div>
            </div>
        </div>
    </section>