<!--<link rel="stylesheet" type="text/css" href="stylesheets/placeStyle.css">-->


<div class="user-image-container">
    <div class="container">
        <div class="image-text">
            <h1 class="main_text">Hi {{user.first_name}} !</h1>

        </div>

    </div>

</div>

<section class="news-section col-12">
    <div class="container">
        <div class="news">
            <div class="title">
                <h3>You can find places</h3>
            </div>
            <div class="image">

            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt viverra quam vitae vehicula. Nulla suscipit ac diam vel pharetra.

                </p>
            </div>
        </div>
        <div class="news">
            <div class="title">
                <h3>You can rent your place</h3>
            </div>
            <div class="image">

            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt viverra quam vitae vehicula. Nulla suscipit ac diam vel pharetra.

                </p>
            </div>
        </div>
        <div class="news">
            <div class="title">
                <h3>Check out places around you</h3>
            </div>
            <div class="image">

            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt viverra quam vitae vehicula. Nulla suscipit ac diam vel pharetra.

                </p>
            </div>
        </div>
        <div class="news">
            <div class="title">
                <h3>Review them for better service</h3>
            </div>
            <div class="image">

            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt viverra quam vitae vehicula. Nulla suscipit ac diam vel pharetra.

                </p>
            </div>
        </div>
    </div>
</section>
